<div>
  
  <h1 class="configurator-headings">Toppings! Toppings!</h1>
  <mat-list class="topping-container">
    <mat-list-item [ngClass]="{'selected': pickedToppings.indexOf(topping)!==-1}" *ngFor='let topping of toppings'
      (click)='setPickedToppings(topping)'>
      <div class="image-div">
        <img [src]='topping.ImageUrl' alt="">
      </div>
      <div>
        <p>{{topping.Name}}</p>
      </div>

    </mat-list-item>
  </mat-list>
  <p class="topping-total">Total price +${{toppingTotal}}</p>
  <h1 class="configurator-headings">Pizza! Pizza! Pizza!</h1>
  <mat-list class="pizza-container">
    <mat-list-item [ngClass]="{'selectedPizza': pizza===selectedPizza}" *ngFor='let pizza of pizzas'
      (click)='setPickedPizza(pizza)'> {{pizza.Name}} </mat-list-item>
  </mat-list>

  <h1 class="configurator-headings">Get the discount!</h1>
  <div class="discount-container">
    <p *ngIf="error">{{error}}</p>
    <input matInput type="text" placeholder="Enter discount code" [(ngModel)]="discountCode">
    <button matButton (click)="applyDiscount()">Apply Code</button>

  </div>

  <input matInput type="number" (input)="onSearchChange($event)" [(ngModel)]="quantity">

  <h1>$ {{total}}</h1>

  <button matButton (click)="continueToShipping()">Buy! Buy Pizza</button>


</div>
