<mat-card class="authBlock">
  <div class="left-panel">
    <img src="https://res.cloudinary.com/ximmoz-corp/image/upload/v1634198249/prototyp/undraw_unlock_24mb.svg"
      alt="">
  </div>
  <div class="right-panel">
    <h1>Sign In</h1>
    <div class="federatedAuth">
      <button type="button" class="btn googleBtn" (click)="authService.SignInWithGoogle()">
        <!-- <i class="fab fa-google-plus-g"></i> -->
        <fa-icon [icon]="faGoogle"></fa-icon>
        Google
      </button>
      <button type="button" class="btn googleBtn" (click)="authService.SignInWithFacebook()">
        <!-- <i class="fab fa-google-plus-g"></i> -->
        <fa-icon [icon]="faFacebook"></fa-icon>
        Facebook
      </button>
    </div>
    <form [formGroup]='loginForm' (ngSubmit)='login()'>

      <!-- <mat-error *ngFor="let validation of validation_messages.email">
        <mat-error class="error-message"
          *ngIf="loginForm.get('email').hasError(validation.type)! && (loginForm.get('email').dirty || loginForm.get('email').touched)">
          {{validation.message}}</mat-error>
      </mat-error> -->
      <input class="password" matInput type="text" placeholder='Email address' formControlName="email">
      <!-- <mat-error *ngFor="let validation of validation_messages.password">
        <mat-error class="error-message"
          *ngIf="loginForm.get('password').hasError(validation.type)! && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          {{validation.message}}</mat-error>
      </mat-error> -->
      <input class="password" matInput type="password" placeholder='Password' formControlName="password">
      <button type="submit" matButton>Login</button>
    </form>
    <div class="forgotPassword">
      <span routerLink="/forgot-password">Forgot Password?</span>
    </div>
    
    <div class="signUp">
      <p routerLink="sign_up">Don't have an accoung? <span>Sign Up</span> </p>
    </div>

  </div>




</mat-card>
