<div>
    <style>
        .centerAlign {
            
    width: 50%;
    height: 50%;
    
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}
    </style>
    <div class="centerAlign">
        <div>
            <img src="./../../../assets/images/PizzaSuccess.png" alt="Pizza image">
        </div>
        <div>
            <h1>Your Pizza! Pizza! is on its way!</h1>
            <p>You should be enjoying your meal in no more than 45 minutes.</p>
            <button (click)='buyAnotherPizza()' mat-button color="primary">Buy another</button>
        </div>
    </div>

</div>


