
  <mat-card>
    <div>
      <h1>Almost done!</h1>
    </div>
    <div class="details-container">
       
                <div class="common-details">
                  <div class="top-orderdetails">
                    <h3>Order details</h3>
                    <div>
              
                      <h5>TOPPINGS</h5>
                      <p>{{orderToppings}}</p>
                      <p>QTY: {{order.Quantity}}</p>
                    </div>
                  </div>
                    
              
                    <div class="orderDetail">
                      <h5>Delivery</h5>
                      <p>Free delivery within 1hour or you don't have to pay.</p>
                    </div>
                    <div class="discount-outer" [hidden]='disableDiscount'>
                      <div class="discount-container">
                        <!-- <p *ngIf="error">{{error}}</p> -->
                        <input class="clickable" matInput type="text" [placeholder]="discountText" [(ngModel)]="discountCode">
                        <button class="clickable" matButton (click)="applyDiscount()">Apply</button>
                  
                      </div>
                      
              
                    </div>
                    <div>
                      <div class="flex-container-bottom">
                        <span>Total price</span>
                        <span class="commonColor major">${{order.Total}}</span>
                        <!-- <span class="commonColor">${{order.Total}}34</span> -->
                    </div>
                    </div>
                    
              
              
                  </div>
            
                <div class="shippingDetails common-details">
                  <form [formGroup]='shippingForm' (ngSubmit)='finishOrderingPizza()'>
                    <h3>Shipping information</h3>
                    <mat-error *ngFor="let validation of validation_messages.address">
                      <mat-error class="error-message" *ngIf="shippingForm.get('address').hasError(validation.type)! && (shippingForm.get('address').dirty || shippingForm.get('address').touched)">{{validation.message}}</mat-error>
                    </mat-error><input class="streetAddress" matInput type="text" placeholder='Street name and number' formControlName="address">
                    <div class="flex-container">
                      <mat-error *ngFor="let validation of validation_messages.city">
                        <mat-error class="error-message" *ngIf="shippingForm.get('city').hasError(validation.type)! && (shippingForm.get('city').dirty || shippingForm.get('city').touched)">{{validation.message}}</mat-error>
                      </mat-error>
                        <input matInput type="text" placeholder='City' formControlName="city">
                        <mat-error *ngFor="let validation of validation_messages.postalCode">
                          <mat-error class="error-message" *ngIf="shippingForm.get('postalCode').hasError(validation.type)! && (shippingForm.get('postalCode').dirty || shippingForm.get('postalCode').touched)">{{validation.message}}</mat-error>
                        </mat-error>
                        <input class="postal-code" matInput type="text" placeholder='Postal Code' formControlName="postalCode">
                    </div>
                    <mat-error *ngFor="let validation of validation_messages.country">
                      <mat-error class="error-message" *ngIf="shippingForm.get('country').hasError(validation.type)! && (shippingForm.get('country').dirty || shippingForm.get('country').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                    <input class="country" matInput type="text" placeholder='Country' formControlName="country">
                    <div>
                        <h3>Payment details</h3>
                        <p>Cash on delivery</p>
                    </div>

                    <div class="bottom-button-container">
                      <button matButton type="submit" [disabled]='!shippingForm.valid' >Finish Order</button>
                
                    </div>
                   
                  
                  </form>
                </div>
            
      
  
    </div>
  </mat-card>
  